<app-admin-nav-bar *ngIf="isAdmin"></app-admin-nav-bar>
<div *ngIf="isAdmin" class="w-11/12 md:w-10/12 xl:w-9/12 mx-auto pt-10">
    <router-outlet></router-outlet>
</div>
<div *ngIf="!isAdmin" class="w-full h-screen bg-red-500 flex flex-col justify-center items-center gap-4">
    <h1 class="uppercase text-white text-3xl">No autorizado</h1>
    <p class="text-white">No estas autorizado a acceder como administrador</p>
    <p class="text-white">Si crees que se trata de un error, ponte en contacto con un administrador</p>
    <a [routerLink]="['/home']" class="bg-red-600 px-4 py-2 text-white cursor-pointer rounded-md hover:bg-red-700">Volver</a>
</div>