<div class="w-full" *ngIf="shopHasData">
    <app-container>
        <h1>{{shop.nombre}} - Panel de control</h1>
    </app-container>
</div>
<div class="grid grid-cols-2 gap-4" *ngIf="!shopHasData">
    <app-container>

        <h2 class="text-3xl">Hola <strong>{{usuario.nombre}}</strong>!</h2>
        <p class="text-gray-400 mt-4">
            Aún no cuentas con los datos necesarios para poder empezar a ofrecer tus productos en SJ Delivery. No te
            preocupes! La solución es simple: solo debes completar el formulario debajo para enviarnos la información
            de tu negocio. Luego podrás comenzar a crear tus publicaciones!
        </p>

        <app-shop-form [shopData]="shop" [usuario]="usuario"></app-shop-form>

    </app-container>
    <app-container>
        <div class="daisy-mockup-window border bg-base-300">
            <app-shop-preview></app-shop-preview>
        </div>
    </app-container>
</div>