<div class="flex flex-col items-center mb-10" *ngIf="shopData">
  <div class="w-full h-52 bg-gray-700 relative mb-28">
    <div class="w-40 h-40 absolute rounded-full bg-gray-800 left-1/2 -ml-20 top-full -mt-20 border-4 shadow-lg border-white"></div>
  </div>
  <div class="prose text-center w-10/12 mx-auto">
    <h1 class="">{{shopData.nombre || '---------'}}</h1>
    <p>{{shopData.descripcion || '--------------------------------------------------------------------------------------------------------------------------'}}</p>
    <div class="flex justify-between">
      <span>Dirección: {{shopData.direccion || '-------------'}}</span>
      <span>Teléfono: {{shopData.telefono || '-------------'}}</span>
    </div>
    
    <div class="flex justify-between mt-4">
      <div class="flex gap-4">
        <fa-icon *ngIf="shopData.facebook_url" [icon]="facebookIcon" [fixedWidth]="true" size="2x" class="cursor-pointer transition-all hover:scale-105"></fa-icon>
        <fa-icon *ngIf="shopData.instagram_url" [icon]="instagramIcon" [fixedWidth]="true" size="2x" class="cursor-pointer transition-all hover:scale-105"></fa-icon>
      </div>
      <div class="flex gap-4">
        <fa-icon *ngIf="shopData.email" [icon]="emailIcon" [fixedWidth]="true" size="2x" class="cursor-pointer transition-all hover:scale-105"></fa-icon>
        <fa-icon *ngIf="shopData.sitio_web" [icon]="websiteIcon" [fixedWidth]="true" size="2x" class="cursor-pointer transition-all hover:scale-105"></fa-icon>
      </div>
    </div>
  </div>
</div>