<div class="w-full">
  <div class="daisy-carousel daisy-carousel-center max-w-full p-4 space-x-4 bg-neutral rounded-md overflow-x-scroll scroll-smooth">
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">dolorum quo eum</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=8B7BCDC2" class="rounded-md" />
      </div> 
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">optio sed officia</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=500B67FB" class="rounded-md" />
      </div> 
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">corrupti ipsum sed</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=A89D0DE6" class="rounded-md" />
      </div> 
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">itaque ut temporibus</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=225E6693" class="rounded-md" />
      </div> 
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">ut dolorem dolore</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=9D9539E7" class="rounded-md" />
      </div> 
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">est quaerat ipsum</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=BDC01094" class="rounded-md" />
      </div> 
      <div class="daisy-carousel-item relative">
          <div class="absolute w-full h-full bg-black bg-opacity-50 rounded-md">
              <p class="absolute text-white top-7 left-4 font-semibold uppercase">architecto aspernatur est</p>
          </div>
        <img src="https://api.lorem.space/image/burger?w=250&h=180&hash=7F5AE56A" class="rounded-md" />
      </div>
  </div>    
</div>